@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  font-family: 'Press Start 2P', sans-serif;
}

:root {
  --mystery: aqua;
  --mysteryWidth: 20vw;
}

body {
  background-color: rgb(0, 0, 0);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(250, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: aqua;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 255, 255, 0.8);
}

main {
  position: relative;
  height: 65vh;
  color: rgba(255, 250, 250, 0.726);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.header {
  position: relative;
  text-align: center;
  width: 100%;
  background: linear-gradient(to right, red 40%, aqua 59%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: transparent;
  font-size: 1.5em;
  animation: header 4s ease;
  top: 10vh;
}

@keyframes header {
  0% {
    transform: translatey(-200%);
    background: linear-gradient(to right, red 40%, aqua 59%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: transparent;
  }
  100% {
    transform: translatex(0%);
    background: linear-gradient(to right, red 40%, aqua 59%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: transparent;
  }
}
.left {
  position: relative;
  display: flex;
  flex-direction: column;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
}

/* #hint { **NOT IN USE**
  position: relative;
  width: 40px;
  height: 25px;
  border-radius: 10%;
} */

header {
  position: relative;
  height: 40vh;
  border-bottom: 7px solid rgba(127, 255, 212, 0.585);
}

.mystery {
  text-align: center;
  font-size: 1em;
  color: aqua;
  position: relative;
  top: 16vh;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 0.3em;
  width: 20vw;
}

.message {
  top: 14vh;
  text-align: center;
  position: relative;
  font-size: 1em;
  color: aquamarine;
}

td,
tr {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid aqua;
  overflow: hidden;
}

td,
th {
  padding: 0.5em;
  font-size: xx-small;
}

thead,
th {
  background-color: aqua;
  color: black;
}

table {
  background-color: black;
  color: aqua;
  width: 100%;
}

.again {
  position: absolute;
  right: 1vw;
  top: 1vh;
  padding: 0.19em;
  border-radius: 5%;
  background-color: black;
  color: aqua;
  box-shadow: 5px 5px 5px red;
  text-transform: uppercase;
  cursor: pointer;
}
.again:hover {
  background-color: aqua;
  color: black;
  border-radius: 5%;
  cursor: pointer;
}

.reset {
  position: absolute;
  left: 1vw;
  top: 1vh;
  padding: 0em;
  border-radius: 5%;
  background-color: black;
  color: aqua;
  box-shadow: 5px 5px 5px red;
  cursor: pointer;
}

.reset:hover {
  background-color: aqua;
  color: black;
  border-radius: 5%;
  cursor: pointer;
}

.resetDescription {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: absolute;
  z-index: 10;
  color: rgba(255, 250, 250, 0.726);
  padding: 5em;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hiddenParagraph {
  line-height: 2em;
  font-size: small;
}

.resetHidden {
  position: absolute;
  left: 1vw;
  top: 1vh;
  padding: 0.5vw;
  border-radius: 5%;
  background-color: black;
  color: aqua;
  box-shadow: 5px 5px 5px red;
  cursor: pointer;
}

.resetHidden:hover,
.closeHidden:hover {
  background-color: aqua;
  color: black;
  border-radius: 5%;
  cursor: pointer;
}

.closeHidden {
  position: absolute;
  right: 1vw;
  top: 1vh;
  padding: 0.5vw;
  border-radius: 5%;
  background-color: black;
  color: aqua;
  box-shadow: 5px 5px 5px red;
  cursor: pointer;
}

.hidden {
  display: none;
}

.guess {
  position: relative;
  align-self: center;
  max-width: 75%;
  background-color: rgba(255, 250, 250, 0.726);
  padding: 1vw;
}

.attemptsTotal,
.attemptsTotal_class {
  font-size: 2vh;
}

.submit {
  width: 50%;
  align-self: center;
  position: relative;
  background-color: black;
  color: aqua;
  box-shadow: 5px 5px 5px red;
  font-weight: bold;
  padding: 1.5vh;
  margin: 1vh;
  text-transform: uppercase;
  cursor: pointer;
}

.score {
  position: relative;
  font-weight: bolder;
  font-size: 2vh;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.attempt {
  position: relative;
  font-size: 2vh;
}

.highscore {
  position: relative;
  font-weight: bold;
  font-size: 2vh;
}
/* add a nice style to color*/
.scroll {
  width: 100%;
}

.disclaimer {
  position: relative;
  font-size: 1vh;
  margin: 0.5vw;
}
.disclaimer2 {
  position: relative;
  font-size: 1vh;
  margin: 0.5vw;
}
