* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-color: rgb(39, 73, 73);
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header {
  position: relative;
  text-align: center;
  width: 100%;
  color: aqua;
  font-size: 10vh;
  animation: header 4s ease;
}

@keyframes header {
  0% {
    transform: translatey(-200%);
    color: aqua;
  }
  100% {
    transform: translatex(0%);
    color: aqua;
  }
}
.left {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hint {
  position: relative;
  width: 30px;
  height: 25px;
  border-radius: 10%;
}

header {
  position: relative;
  height: 40vh;
  border-bottom: 7px solid black;
}

.message {
  text-align: center;
  position: relative;
  font-size: 3em;
  color: aquamarine;
}

td,
tr {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  border: 1px solid aqua;
  border-collapse: collapse;
  padding: 0.15em;
}

td {
  padding: 0.5em;
}

thead,
th {
  background-color: aqua;
  color: black;
}

table {
  background-color: black;
  color: aqua;
  width: 100%;
  position: relative;
}

.again {
  position: absolute;
  right: 1em;
  top: 0em;
  padding: 1vh;
  border-radius: 5%;
  background-color: black;
  color: aqua;
  box-shadow: 5px 5px 5px red;
  cursor: pointer;
}
.again:hover {
  background-color: aqua;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.guess {
  position: relative;
  background-color: snow;
  padding: 2em;
}

.submit {
  position: relative;
  background-color: black;
  color: aqua;
  box-shadow: 5px 5px 5px red;
  font-weight: bold;
  width: 8em;
  padding: 1em;
  margin: 1em auto;
  cursor: pointer;
}

.mystery {
  text-align: center;
  width: 100%;
  font-size: 5em;
  color: red;
  position: relative;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 0.3em;
}

.score {
  position: relative;
  font-weight: bolder;
  font-size: xx-large;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.attempt {
  position: relative;
  font-weight: bolder;
  font-size: xx-large;
}
